.choiceboxcontainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-width: 0.3rem;
    border-style: solid;
    border-radius: 1rem;
    padding: 0.6rem;
    width: 20rem;
    border-color: var(--color-grey-500);
    font-size: 1.8rem;
    background-color: var(--color-grey-0);
}
.sort-header{
    font-family: Inter;
    font-size: 1.8rem;
}
.choiceBox {
    display: flex;
    align-self: flex-start;
    background: transparent;
    border-width: 0;
    padding: 1px;
    font-size: 1.8rem;
    margin-top: 0.2rem;
    border: none;
    outline: none;
}
.choiceBox:focus {
    outline: none;
}