.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: clamp(0rem,100%,120rem);
    padding: 0 3rem;
}
.card-collection {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(32rem,1fr));
    width: 100%;
    grid-row-gap: 5rem;
    justify-content: center;
    padding: 5rem 0;
    width: 100%;

    & a {
        display: block;
        width: fit-content;
    }
}
.card-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
}
.options-buttons {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    padding-top: 5rem;
    margin-right: 10rem;
    padding-left: 5rem;
    padding-left: 11rem;
}

.choiceboxcontainer{
    display:flex;
    width:100%;
}
.choiceBox{
    display: flex;
    align-self: flex-start;
}