.summary{
    display: flex;
    flex-direction: column;
    width: 40%;
    justify-content: space-between;
    margin: 10px 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

.order-summary{
    display: flex;
    margin-top: 20px;
    margin-bottom: 10px;
    flex-direction: column;
    justify-content: center;
    font-size: 20px;
    
    
}